<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lendingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LendingApp">
        <activity android:name=".ForgotPassword"></activity>
        <activity android:name=".SplashScreen.SplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductDetails.ProductDetailsPage" />
        <activity android:name=".Chat.ChatPage" />
        <activity android:name=".Categories.Laptops" />
        <activity android:name=".Categories.Mobiles" />
        <activity android:name=".Categories.Clothes" />
        <activity android:name=".Categories.Bikes" />
        <activity android:name=".Categories.Electronics" />
        <activity android:name=".Categories.Books" />
        <activity android:name=".Dashboard.SelectCategoryPage">

        </activity>
        <activity android:name=".Navigation.NavigationBar"></activity>
        <activity android:name=".PostAdd.PostPhoto" />
        <activity android:name=".PostAdd.AddDetails" />
        <activity android:name=".SplashScreen.LandingPages" >
        </activity>
        <activity android:name=".Credentials.LoginActivity"></activity>
        <activity android:name=".Credentials.SignUpActivity"></activity>
    </application>

</manifest>